<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <title>Secret</title>
</head>
<body>
    {{>navbar}}
        <div class="container box">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{#if message}}
                    <h1>{{message}}</h1>
                    <form action="/logout" method="GET">
                        <button type="submit" class="btn btn-danger">Log Out</button>
                    </form>
                {{else}}
                    <h1>Logged Out</h1>
                {{/if}}
            </div>
        </div>
    </div>
    {{>footer}}
</body>
{{>footerLinks}}
</html>